header {
    width: 100%;
}

.logo img {
    width: 250px;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0 10px 0;

}

.logo {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}

.logo ul li a {
    text-decoration: none;
    color: blue;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    text-align: center;
}

nav ul li {

    margin: 20px;
}


#nos {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-size: 14px;
    margin: 0 10px 0 10px;
}

#carouselExampleIndicators {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px 0 10px;
    align-content: center;
}

#cat {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 20px;
}

.caja {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.contenedor {
    display: flex;
    flex-direction: column;
    margin: 25px;
    justify-content: center;
    align-items: center;
}

.caja img {
    margin: 10px 10px 0 20px;
    border-radius: 15%;
}

.caja p {
    margin: 15px 0 0 30px;
}

.titulo {
    margin-top: 15px;
}

#comp {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 20px;
}

#emp {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 20px;
}

#cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 20px;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 20px;
}

.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 13px;
}

/*
h1{
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
}

h3{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    font-size: 18px;
    color: rgb(11, 123, 151);
}
*/